@font-face
  font-family: "icons"
  font-display swap
  src: url('../fonts/icons.eot?v=1557910869112')
  src: url('../fonts/icons.eot?v=1557910869112?#iefix') format('eot'), url('../fonts/icons.woff?v=1557910869112') format('woff'), url('../fonts/icons.ttf?v=1557910869112') format('truetype')
  font-weight: 400
  font-style: normal

.i
    display: inline-block;
    transform: translate(0, 0);
    text-rendering: auto;
    font: normal normal 400 14px/1 icons;
    font-size: inherit;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

.i-lg
    vertical-align: -15%
    line-height: 0.75em
    font-size: 1.33333333em

.i-2x
    font-size: 2em

.i-3x
    font-size: 3em

.i-4x
    font-size: 4em

.i-5x
    font-size: 5em

.i-fw
    width: 1.28571429em
    text-align: center


.i-arrow-right::before
    content: "\ea01"

.i-arrow-top::before
    content: "\ea02"

.i-arrow::before
    content: "\ea03"

.i-bank::before
    content: "\ea04"

.i-calendar::before
    content: "\ea05"

.i-case::before
    content: "\ea06"

.i-cert::before
    content: "\ea07"

.i-check::before
    content: "\ea08"

.i-city::before
    content: "\ea09"

.i-clock::before
    content: "\ea0a"

.i-close::before
    content: "\ea0b"

.i-comp::before
    content: "\ea0c"

.i-copy::before
    content: "\ea0d"

.i-cross::before
    content: "\ea0e"

.i-desk::before
    content: "\ea0f"

.i-down-arrow::before
    content: "\ea10"

.i-download::before
    content: "\ea11"

.i-edit::before
    content: "\ea12"

.i-editor::before
    content: "\ea13"

.i-elist::before
    content: "\ea14"

.i-eye::before
    content: "\ea15"

.i-eye2::before
    content: "\ea16"

.i-fb::before
    content: "\ea17"

.i-fb2::before
    content: "\ea18"

.i-filter::before
    content: "\ea19"

.i-google::before
    content: "\ea1a"

.i-google2::before
    content: "\ea1b"

.i-info::before
    content: "\ea1c"

.i-info2::before
    content: "\ea1d"

.i-language::before
    content: "\ea1e"

.i-li::before
    content: "\ea1f"

.i-link::before
    content: "\ea20"

.i-list::before
    content: "\ea21"

.i-list2::before
    content: "\ea22"

.i-lock::before
    content: "\ea23"

.i-mail::before
    content: "\ea24"

.i-map::before
    content: "\ea25"

.i-money::before
    content: "\ea26"

.i-ok::before
    content: "\ea27"

.i-organization::before
    content: "\ea28"

.i-pay::before
    content: "\ea29"

.i-phone::before
    content: "\ea2a"

.i-search::before
    content: "\ea2b"

.i-study::before
    content: "\ea2c"

.i-trash::before
    content: "\ea2d"

.i-twitter::before
    content: "\ea2e"

.i-user::before
    content: "\ea2f"

.i-vk::before
    content: "\ea30"

.i-vk2::before
    content: "\ea31"
