@font-face {
  font-display: swap;
  font-family: "i";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/i.woff2") format("woff2");
}
  
.i {
  display: inline-block;
  font-family: "i";
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}


.i-filter::before {
  content: "\ea01";
}

.i-help::before {
  content: "\ea02";
}

.i-hr::before {
  content: "\ea03";
}

.i-i1::before {
  content: "\ea04";
}

.i-i2::before {
  content: "\ea05";
}

.i-i3::before {
  content: "\ea06";
}

.i-i4::before {
  content: "\ea07";
}

.i-i5::before {
  content: "\ea08";
}

.i-i6::before {
  content: "\ea09";
}

.i-i7::before {
  content: "\ea0a";
}

.i-i8::before {
  content: "\ea0b";
}

.i-i9::before {
  content: "\ea0c";
}

.i-long-cross::before {
  content: "\ea0d";
}

.i-minus::before {
  content: "\ea0e";
}

.i-oval::before {
  content: "\ea0f";
}

.i-play::before {
  content: "\ea10";
}

.i-plus::before {
  content: "\ea11";
}

.i-search::before {
  content: "\ea12";
}

.i-star-full::before {
  content: "\ea13";
}

.i-tw::before {
  content: "\ea14";
}

.i-vk::before {
  content: "\ea15";
}

.i-vk222::before {
  content: "\ea16";
}
