@font-face
  font-family: "<%= fontName %>"
  font-display swap
  src: url('<%= fontPath %><%= fontName %>.woff2?v=<%= _.now() %>') format('woff2'), url('<%= fontPath %><%= fontName %>.woff?v=<%= _.now() %>') format('woff')
  font-weight: 400
  font-style: normal

.<%= className %>
  display: inline-block;
  transform: translate(0, 0);
  text-rendering: auto;
  font: normal normal 400 14px/1 icons;
  font-size: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;


<% _.each(glyphs, function(glyph) { %>
.<%= className %>-<%= glyph.name %>::before
  content: "\<%= glyph.unicode[0].charCodeAt(0).toString(16) %>"
<% }); %>
