extends layouts/default

block content
    section.section-header
        figure.section-header__image
            img(src="img/section-header.png", alt="")
            span.paralax-text(style="left: 135%;top: 45%;") жанна бадоева
        .section-header__content-mobile
            .maxw-5
                b.text-type-5 Поторопитесь
                p.text-type-6 чтобы занять лучшие места в зале и быть ближе к НЕЙ!

                a.btn.btn_big(href="javascript:openmodal('#feedform');") ЗАБРОНИРОВАТЬ МЕСТО
        .section-header__content
            .section-header__content-top
                b.text-type-1 Жанна Бадоева
                h1.text-type-2 как добиться успеха и не потерять себя?
                h3.text-type-3 Мастер-класс от культовой ведущей travel show "Орел и решка"
                p.text-type-4 Проведите незабываемый вечер с любимой ведущей. <br> 2 часа увлекательного общения + сессия вопросов-ответов

            span.section-header__separator

            .section-header__content-bottom
                .maxw-5
                    b.text-type-5 Поторопитесь
                    p.text-type-6 чтобы занять лучшие места в зале и быть ближе к НЕЙ!

                    a.btn.btn_big(href="javascript:openmodal('#feedform');") ЗАБРОНИРОВАТЬ МЕСТО

    section.section-rinfo
        .section-rinfo__wrap
            .maxw-1
                h2.text-type-7 ВЫ ОБЯЗАТЕЛЬНО ПРИДЕТЕ НА ЭТУ ВСТРЕЧУ! 

            ul.list-cube
                li Ведь вы давний поклонник Жанны Бадоевой,  обожаете все передачи с ее участием и восхищаетесь ею.
                li Потому что вас всегда мучил вопрос, КАК быть умной, красивой да еще и успешной и в работе, и в личной жизни.
                li Ведь вы наверняка хотите узнать секреты успеха Жанны Бадоевой, как его добиться и при этом не потерять себя.
    
    blockquote.blockquote
        p.blockquote__text «Успешность – это болезнь нашего общества... Но как добиться того, чтобы сделать что-то в этой жизни, и не потерять себя, семью, исполнить свое предназначение? Ответы на эти вопросы я искала очень долго»...
        figure.blockquote__image
            img(src="img/blockquote.png", alt="")

    section.section-rn
        span.paralax-text(style="left: -15%; top: -10%;") запомнится
        .section-rn__wrap
            h3.section-rn__title ЭТОТ вечер вам точно запомнится надолго! 
            .box-info
                b.box-info__title Поторопитесь
                span.box-info__text чтобы занять лучшие места в зале и быть ближе к НЕЙ!
                .box-info__btns
                    a.btn.btn_big(href="javascript:openmodal('#feedform');") ЗАБРОНИРОВАТЬ МЕСТО

    section.section-rst
        span.paralax-text(style="left: 44%;top: -7.5%;") жанны бадоевой
        .maxw-2
            h2.section-rst__title.text-type-7 ГРАНИ УСПЕХА ЖАННЫ БАДОЕВОЙ
        .section-rst__wrap
            .section-rst__info
                ul.checklist
                    li Жанна Бадоева родилась в Литве, в самой обычной семье инженеров. Окончила строительный факультет, а затем режиссерский факультет в Киеве.
                    li Замужем. Супруг Жанны — итальянец Василий Мельничин, работающий в сфере высокой моды. У телеведущей двое детей от предыдущих браков — 20-летний сын Борис и 14-летняя дочь Лолита.
                    li Автор и ведущая необычайно популярного в России и на Украине travel-шоу "Орел и решка".
                    li В качестве режиссера и режиссера-постановщика запустила такие рейтинговые украинские проекты, как "Танцюю для тебе", "Суперзирка" и телевизионная премия "Шарманка".
                    li Участница популярного украинского кулинарного шоу "Мастершеф" (2012 г.). Ведущая романтической программы "Остановите, я влюбилась" и фэшн-проекта "Лялечка".
                    li Первая женщина-резидент в программе COMEDY CLUB. Ведущая шоу "Битва слонов" и "#жаннапожени" (2016 г.), "Жанна помоги" (2017 г.)
                    li Автор и ведущая TRAVEL-шоу «Жизнь других» на Первом канале (2019 г.).
                    li Выпускает собственную линейку итальянской обуви ZHANNA BADOEVA. Проводит мастер-классы, на которых в том числе делится секретами успеха.
            figure.section-rst__image
                img(src="img/section-rst.png", alt="")

    .section-counters
        .count
            b.count__number 32
            span.count__caption проекта реализовано

        .count
            b.count__number 51
            span.count__caption в стольких странах побывала

        .count
            b.count__number 1.3 млн
            span.count__caption подписчиков в соцсетях

        .count
            b.count__number 49
            span.count__caption проведенных мастер-классов

        .count
            b.count__number 12 000
            span.count__caption слушателей мастер-классов
    
    .section-bq2
        blockquote.blockquote
            p.blockquote__text «Я – женщина и могу позволить себе быть разной, при этом оставаясь собой. Это уникальное состояние – когда все твои грани воспринимают и принимают»...
            figure.blockquote__image
                img(src="img/bq2.png", alt="")

    section.section-video
        span.paralax-text(style="left: -15%; top: 90%;") видео
        .section-video__wrap
            figure.section-video__image
                img(src="img/bgc3.png", alt="")
            .section-video__mobile-btn
                a.video-play(href="javascript:openmodal('#youtube');")
                    i.icn-play
                    span смотреть видео
            .section-video__info
                .section-video__text
                    h2.text-type-7.section-video__info-title ВИДЕОПРИГЛАШЕНИЕ ОТ ЖАННЫ БАДОЕВОЙ
                    p.text-type-9 на мастер-класс <br>"Как добиться успеха и не потерять себя?"
                .section-video__btn
                    a.video-play(href="javascript:openmodal('#youtube');")
                        i.icn-play
                        span смотреть видео
    .section-box
        span.paralax-text.paralax-text_vertical(style="left: -20%;top: 20%;") секреты
        .box-info.box-info_large
            b.box-info__title Поторопитесь
            span.box-info__text тобы занять лучшие места в зале и быть ближе к любимой ведущей!
            .box-info__btns
                a.btn.btn_big(href="javascript:openmodal('#feedform');") ЗАБРОНИРОВАТЬ МЕСТО

    section.section-rinfo
        .section-rinfo__wrap
            h2.section-rinfo__title.text-type-7 ВАС ЖДЕТ НЕОБЫЧНЫЙ ВЕЧЕР И ОТКРОВЕННЫЙ РАЗГОВОР о том...

            ul.list-cube
                li Каких женщин на самом деле любят мужчины
                li Как совмещать работу, карьеру и любовь, семью
                li Как всегда оставаться по-женски привлекательной
                li Как успевать всё, и даже чуть-чуть больше
                li Как проложить дорогу к успеху и остаться самой собой
                li Как всегда оставаться счастливой и наслаждаться жизнью

    section.section-gallery
        span.paralax-text(style="left: -15%;bottom: -5%;") фотоотчет
        .section-gallery__wrap
            .gallery
                .gallery__wrap
                    .gallery__box.gallery__box_title
                        h2.gallery__title.text-type-7 ТАКИЕ НЕОБЫЧНЫЕ ВЕЧЕРА ПРОХОДЯТ ТАК

                    .gallery__box.gallery__box_1
                        img(src="img/z3.jpg", alt="")
                    .gallery__box.gallery__box_2
                        img(src="img/z1.jpg", alt="")
                    .gallery__box.gallery__box_3
                        img(src="img/z2.jpg", alt="")
                    .gallery__box.gallery__box_5
                        img(src="img/z4.jpg", alt="")
                    .gallery__box.gallery__box_4
                        img(src="img/z6.jpg", alt="")
                    .gallery__box.gallery__box_6
                        img(src="img/z5.jpg", alt="")
                    

    .section-quote
        blockquote.blockquote
            p.blockquote__text «...не хочу – значит, не хочу; хочу – значит хочу. И мне стало так комфортно жить. Это огромное счастье – быть самим собой, получать удовольствие от того, что делаешь, не лгать самому себе»...
            figure.blockquote__image
                img(src="img/bd5.png", alt="")

    section.section-comments 
        span.paralax-text(style="left: -15%; top: 95%;") билет
        span.paralax-text(style="left: 60%; top: 5%;") отзывы
        .section-comments__wrap

            .maxw-3
                h2.text-type-7.section-comments__title ЧТО ГОВОРЯТ О ЖАННЕ БАДОЕВОЙ И ЕЕ МАСТЕР-КЛАССАХ

            .double-carousel.owl-carousel
                
                .comment
                    .comment__head
                        figure.comment__head-ava
                            img(src="img/ava-man.png", alt="")
                        .comment__head-info
                            b Кламанова Ольга
                            span Инженер
                    .comment__content
                        h4.comment__title «мероприятие обязательно для посещения в 2019 году...»
                        p.comment__text «Не следует, однако забывать, что сложившаяся структура организации позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт постоянное информационно пропагандистское обеспечение нашей деятельности требуют от нас анализа системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности». 
                
                .comment
                    .comment__head
                        figure.comment__head-ava
                            img(src="img/ava-woman.png", alt="")
                        .comment__head-info
                            b Михайлова Виктория
                            span Студентка
                    .comment__content
                        h4.comment__title «очень полезная информация для продвижения своего бизнеса в 2019...»
                        p.comment__text «Разнообразный и богатый опыт сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Pанимаемых участниками в отношении поставленных задач. Пропагандистское обеспечение нашей деятельности требуют от нас анализа системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности». 
                .comment
                    .comment__head
                        figure.comment__head-ava
                            img(src="img/ava-woman.png", alt="")
                        .comment__head-info
                            b Михайлова Виктория
                            span Студентка
                    .comment__content
                        h4.comment__title «очень полезная информация для продвижения своего бизнеса в 2019...»
                        p.comment__text «Разнообразный и богатый опыт сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Pанимаемых участниками в отношении поставленных задач. Пропагандистское обеспечение нашей деятельности требуют от нас анализа системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности». 

                .comment
                    .comment__head
                        figure.comment__head-ava
                            img(src="img/ava-woman.png", alt="")
                        .comment__head-info
                            b Михайлова Виктория
                            span Студентка
                    .comment__content
                        h4.comment__title «очень полезная информация для продвижения своего бизнеса в 2019...»
                        p.comment__text «Разнообразный и богатый опыт сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Pанимаемых участниками в отношении поставленных задач. Пропагандистское обеспечение нашей деятельности требуют от нас анализа системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности». 

                .comment
                    .comment__head
                        figure.comment__head-ava
                            img(src="img/ava-woman.png", alt="")
                        .comment__head-info
                            b Михайлова Виктория
                            span Студентка
                    .comment__content
                        h4.comment__title «очень полезная информация для продвижения своего бизнеса в 2019...»
                        p.comment__text «Разнообразный и богатый опыт сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Pанимаемых участниками в отношении поставленных задач. Пропагандистское обеспечение нашей деятельности требуют от нас анализа системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности». 

    .section-rn
        .section-rn__wrap
            .box-info
                b.box-info__title Поторопитесь
                span.box-info__text чтобы занять лучшие места в зале и быть ближе к любимой ведущей!
                .box-info__btns
                    a.btn.btn_big(href="javascript:openmodal('#feedform');") ЗАБРОНИРОВАТЬ МЕСТО

    section.section-icons
        span.paralax-text(style="left: 55%; top: -15%;") мастер-класс
        .section-icons__wrap
            h2.text-type-7 ЧТО ВАС ЖДЕТ <br>на мастер-классе

            ul.iconslist
                li
                    .icon
                        img(src="img/i1.png", alt="")
                    p Вы получите проверенный рецепт успеха и семейного счастья и ответы на многие свои вопросы.
                li
                    .icon
                        img(src="img/i2.png", alt="")
                    p Вы узнаете, почему мужчины любят не только привлекательных женщин, но и целеустремленных.

                li
                    .icon
                        img(src="img/i3.png", alt="")
                    p Вы отлично проведете вечер в компании телеведущей, которая всегда вызывала у вас восхищение.
                    

            .fullicon
                figure.fullicon__image
                    img(src="img/graph.png", alt="")
                .fullicon__text Но самое главное. Вдохновившись услышанным, получив советы и рекомендации, вы сами сможете изменить свою жизнь, сделать ее еще более счастливой и успешной!



    section.section-price
        span.paralax-text(style="left: -50%; top: -5rem;") стоимость
        .section-price__tinfo
            .section-price__info
                h2.text-type-7.section-price__title стоимость билетов
                p.text-type-9.section-price__semititle Выберите свободные места на схеме ниже

                table.price-list.price-list_nowraplast
                    tr
                        th Сектор
                        th ряд
                        th.price-list__price стоимость
                    tr
                        td.price-list__title
                            i.icn.icn-red
                            span Красный
                        td 1-2
                        td 
                            span.lprice
                                span 12 000 руб.
                                label.radiobox
                                    input(type="radio" name="r1")
                                    span
                    tr
                        td.price-list__title
                            i.icn.icn-purple
                            span Сиреневый
                        td 2-4
                        td 
                            span.lprice
                                span 10 000 руб.
                                label.radiobox
                                    input(type="radio" name="r1")
                                    span
                    tr
                        td.price-list__title
                            i.icn.icn-yellow
                            span Желтый
                        td 4-7
                        td
                            span.lprice
                                span 9 000 руб.
                                label.radiobox
                                    input(type="radio" name="r1")
                                    span
                    tr
                        td.price-list__title
                            i.icn.icn-blue
                            span Синий
                        td 1-2
                        td 
                            span.lprice
                                span 12 000 руб.
                                label.radiobox
                                    input(type="radio" name="r1")
                                    span
                    tr
                        td.price-list__title
                            i.icn.icn-green
                            span Зеленый
                        td 12-18
                        td 
                            span.lprice
                                span 6 000 руб.
                                label.radiobox
                                    input(type="radio" checked name="r1")
                                    span
                    tr
                        td.price-list__title
                            i.icn.icn-lightblue
                            span Голубой
                        td 18-22
                        td 
                            span.lprice
                                span 5 000 руб.
                                label.radiobox
                                    input(type="radio" name="r1")
                                    span

            .section-price__image
                img(src="img/bd6.jpg", alt="")

        .section-price__binfo
            .maxw-1
                h2.text-type-7 ВЫБЕРИТЕ ЛУЧШЕЕ МЕСТО ПРЯМО СЕЙЧАС
            .section-price__frame
                .section-price__frame-left
                    .section-price__frame-wrap
                        span.caption-title способы оплаты
                        ul.list-cards
                            li
                                img(src="img/mastercard.png", alt="")
                            li
                                img(src="img/visa.png", alt="")
                            li
                                img(src="img/webmoney.png", alt="")
                            li
                                img(src="img/yandex.png", alt="")
                .section-price__frame-right
                    a.btn.btn_big(href="https://hakamada-krasnodar.ticketforevent.com/ru/seat/mobile" target="_blank") Открыть схему
                    iframe.section-price__iframe(data-src="https://hakamada-krasnodar.ticketforevent.com/ru/seat/forembed/727/" width="727" height="495" )
        
        
        .section-price__form
            span.paralax-text(style="left: -5%; top: -20%;") забронируйте
            .section-price__form-wrap
                h4.text-type-10 Узнайте все секреты женского обаяния и успеха от любимой ведущей Жанны Бадоевой на авторском мастер-классе "Как добиться успеха и не потерять себя?"

                .box-info
                    b.box-info__title Поторопитесь
                    span.box-info__text Забронируйте лучшее место прямо сейчас по лучшей цене!
                    form.box-info__form(action="js")
                        .grid-form
                            .grid-form__cell
                                input(type="text" name="name" required placeholder="Ваше имя")
                            .grid-form__cell
                                input.js-phone(type="text" name="phone" required placeholder="Ваш телефон")
                            .grid-form__cell
                                input(type="email" name="email" required placeholder="E-mail")
                        .box-info__btns
                            button.btn.btn_big(type="submit") ЗАБРОНИРОВАТЬ МЕСТО

    section.section-map
        span.paralax-text(style="left: -10%; top: 90%;") карта
        .section-map__wrap
            h2.text-type-7.section-map__title ГДЕ БУДЕТ ПРОХОДИТЬ МАСТЕР-КЛАСС
            .section-map__map
                .section-map__mapid
                    img.section-map__cube(src="img/mapcube.png", alt="")
                    .section-map__mapst
                        iframe#gmap_canvas(data-src="https://maps.google.com/maps?q=%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0%2C%20119146%2C%20%D0%9A%D0%BE%D0%BC%D1%81%D0%BE%D0%BC%D0%BE%D0%BB%D1%8C%D1%81%D0%BA%D0%B8%D0%B9%20%D0%BF%D1%80%D0%BE%D1%81%D0%BF%D0%B5%D0%BA%D1%82%2C%2028%2C%20%C2%AB%D0%9C%D0%BE%D1%81%D0%BA%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B9%20%D0%B4%D0%B2%D0%BE%D1%80%D0%B5%D1%86%20%D0%BC%D0%BE%D0%BB%D0%BE%D0%B4%D1%91%D0%B6%D0%B8%C2%BB&t=&z=13&ie=UTF8&iwloc=&output=embed")

    section.section-partners
        .section-partners__wrap
            h2.text-type-7 ПАРТНЕРЫ И СПОНСОРЫ МЕРОПРИЯТИЯ
            
            .partners.owl-carousel
                .partners__slide
                    img(src="img/p1.png", alt="")
                .partners__slide
                    img(src="img/p2.png", alt="")
                .partners__slide
                    img(src="img/p3.png", alt="")
                .partners__slide
                    img(src="img/p4.png", alt="")
                .partners__slide
                    img(src="img/p5.png", alt="")
                .partners__slide
                    img(src="img/p1.png", alt="")
                .partners__slide
                    img(src="img/p2.png", alt="")
                .partners__slide
                    img(src="img/p3.png", alt="")
                .partners__slide
                    img(src="img/p4.png", alt="")
                .partners__slide
                    img(src="img/p5.png", alt="")

    .text-block
        p Политика конфиденциальности. Доверенные Вами данные конфиденциальны и не будут переданы третьим лицам. Отправляя форму, Вы даете свое согласие на обработку предоставленых персональных данных.
        p Любое копирование, перепечатка и распространение материалов этого сайта без письменного разрешения запрещено и преследуются по закону.  











