

framework_class_prefix = '' 

// Grid
grid_cols = (1 2 3 4 5) // Grid columns
grid_gap = (30 px)// Grid margin value in px (but wrote withot px)
grid_default_gap = true // Boolean (true/false)
grid_inverted = false // if true default grid will initially be based on min-width, if false max-width
grid_order = 10

// Breakpoints
breakpoints = {dxl: 1500, dlg: 1300, dmd: 1150, dsm: 1050, tlg: 900, tsm: 700, mmd: 550, msm: 370} // Breakpoints

// margins
mg = {def: 1.5rem, 'big': 3rem, '0': 0}

// some Settings
wrapper = 1210px
wrap_padding = 30px

// Typography
font_size = 16px
line_height = 1.5
font_family = "Arial", sans-serif
imgs = "../img/"