

framework_class_prefix = '' 

// Grid

grid_frames = (1 2 3 4 5 6 7 8 9 10) // Grid columns
grid_gap = 1.875rem // Grid margin value in px (but wrote withot px)
grid_px = (rem)
grid_default_gap = true // Boolean (true/false)
grid_bpoint = {dxl: 1500, dlg: 1300, dmd: 1150, dsm: 1000, tlg: 900, tmd: 800, tsm: 700, mlg: 650, mmd: 500, msm: 400} // Breakpoints
grid_always_inverted = false // if true default grid will initially be based on min-width, if false max-width

// margins
mg = {def: 1.5rem, 'big': 3rem, '0': 0}

// some Settings
wrapper = 77.5rem
wrap_padding = 1.875rem

// Colors
clr = {
    q1: #fff
}

// Typography
font_size = 16px
line_height = 1.5
font_family = "Arial", sans-serif
css_image_path = "../img/"



