// webfont("Proxima Nova", "ProximaNova-Bold", 700)

html, body
    font-size font_size
    line-height line_height

html, body, input, textarea, select, option, code, pre, button
    font-family font_family

textarea, select, option, code, pre, input, button
    font-size 1rem

.wrap
    wrap()
